Flask
python-dotenv
google-generativeai
google-ai-generativelanguage
langchain
langchain-classic
langchain-community
langchain-core
langchain-google-genai
langchain-text-splitters
beautifulsoup4
requests
faiss-cpu
pypdf
PyPDF2
python-docx
html2text
trafilatura
python-pptx
pydantic
pydantic_core
pydantic-settings
SQLAlchemy
numpy
pymongo
dnspython
gunicorn